//! **************************************************************************
// Written by: Map P.20131013 on Thu May 05 12:08:06 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Alarm" LOCATE = SITE "J14" LEVEL 1;
COMP "Door" LOCATE = SITE "R17" LEVEL 1;
COMP "Key" LOCATE = SITE "N17" LEVEL 1;
COMP "Seat" LOCATE = SITE "L13" LEVEL 1;
SCHEMATIC END;

